extends layouts/main
include mixins/videoBlock

block content
    .search_header
        h3 Searching for #{searchingBy}
    .search_videos
        each vid in video
            +videoBlock({
                title:vid.title,
                views:vid.views,
                videoFile:vid.videoFile
            })