<<<<<<< HEAD
extends layouts/main
block content
    .search_header
=======
extends layouts/main 

block content
    .search_header
        h3 Searching for #{searching}
>>>>>>> 81ef9ec5c7b0f4179795ee43c594f4c60875435d
